*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: #111;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
 
}

#child1{

    background-color: crimson;
    border: solid 2px white;
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;

}

#child2{

    background-color: lightgreen;
    border: solid 2px white;

}

#child3{

    background-color: lightblue;
    border: solid 2px white;

}
#child4{

    background-color: rgb(219, 159, 46);
    border: solid 2px white;

}