*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}

#box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}

@media (max-width:600px) {
    #box{
        height: 100px;
        width: 100px;
        background-color: aqua;
        border-radius: 50%;
    }
}

nav{
    background-color: rgb(69, 88, 104);
    height: 60px;
    width: 100%;
    display: flex;  
    align-items: center;  
    justify-content: space-between;
   padding: 0 30px;
   

}

#nav1{
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 15px;
    color: white;
    
}
#nav2{
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 25px;
}

#nav2 h4{
    color: white;
}

#nav2 h5{
    display: none;
    font-size: 20px;
}

@media (max-width:550px) {

    nav{
        background-color: darkcyan;
    }
    #nav2 h4{
    color: white;
    display:none;
}
#nav2 h5{
    display: block;
    font-size: 20px;
}
    
}