*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;

}

#main{
    height: 150px;
    width: 100px;
    background-color: red;
    margin: 30px 20px;
    padding: 5px;
}
